.nc-backTop-recket{
    position:fixed;
    bottom:10%;
    right:10%;
    display:none;
}
.nc-backTop-recket:hover{
    cursor:pointer;
    transform: translateY(5px);
    transition: transform .2s;
}

.nc-backTop-recket:hover div:not(.body-mark),
.nc-backTop-recket:hover .rocket-body:before {
//box-shadow:1px -1px 1px 1px #8c8c8c,-1px -1px 1px 1px #8c8c8c;
}
.nc-backTop-recket .rocket-body{
    height:40px;
    width:30px;
    background:#ccc;
    position:relative;
}
.nc-backTop-recket .rocket-body:before{
    content:"";
    height:30px;
    width:30px;
    display:inline-block;
    background:#0066ff;
    position:absolute;
    top:-30px;
    border-radius:15px 15px 0 0/30px 30px 0 0;
}
.nc-backTop-recket .rocket-body .body-mark{
    height:16px;
    width:16px;
    display:inline-block;
    background:#ffff00;
    border:solid 2px #666600;
    border-radius:50%;
    position:absolute;
    top:10px;
    left:5px;
}
.nc-backTop-recket:hover .rocket-body .body-mark{
    background:linear-gradient(45deg,#208000,#79ff4d);
}
.nc-backTop-recket .rocket-body:after{
    content:"";
    height:16px;
    width:12px;
    display:inline-block;
    border-radius:50%;
    background:radial-gradient(#ffb366,#e67300);
    position:absolute;
    bottom:-25px;
    left:9px;
    box-shadow: -1px -2px 5px 6px #ff4d4d,1px 2px 5px 6px #ff4d4d;
}
.nc-backTop-recket .rocket-left{
    height:30px;
    width:16px;
    display:inline-block;
    background:#6600ff;
    position:absolute;
    top:20px;
    left:-16px;
    border-radius:16px 0 16px 0 / 30px 0 10px 0;
}
.nc-backTop-recket .rocket-right{
    height:30px;
    width:16px;
    display:inline-block;
    background:#6600ff;
    position:absolute;
    top:20px;
    right:-16px;
    border-radius:0 16px 0 16px/0 30px 0 10px;
}