
.navbar .container-fluid {
    padding-top:10px;
    padding-bottom:10px;
}
.navbar .container-fluid .navbar-brand {
    font-size:30px;
}
#collapsibleNavbar .navbar-nav li a {
    font-size:18px;
    padding-right: 5px;
    padding-left: 5px;
}
#collapsibleNavbar .navbar-nav li.active a{
    color:#3385ff;
    font-weight: 800;
    border-color:#3385ff;
}
#collapsibleNavbar .navbar-nav li.active a:active {
    color: #ffffff;
}
.container-fluid.content-body {
    padding:15px 50px;
}

textarea {
    border:none;
    min-height:50px;
    width:100%;
    padding:20px 10px;
    text-align:left;
}
.hh3 {
    margin-top: 30px;
    margin-bottom:10px;
}
.hh5 {
    margin-top: 20px;
    margin-bottom:10px;
}