table {
    border-collapse:collapse;
    width: 90%;
    position:relative;
    margin:20px auto;
}
table caption {
    text-align: left;
    margin-bottom: 5px;
    font-weight:bold;
}
table tr {
    height:30px;
    line-height:30px;
}
table tr:hover {
    cursor:pointer;
}
table thead {
//border: solid 1px;
    background:#ccc;
}
table tr th {
    width: 20%;
    text-align: left;
}
table tr th,table tr td {
    border:solid 1px #d9d9d9;
}
table tr th:first-child,table tr td:first-child {
    border-left:none;
}
table tr th:last-child,table tr td:last-child {
    border-right:none;
}
tbody .odd {
    background:#ffffee;
}
tbody .even {
    background:#fff38f;
}
tbody .checked {
    background:#b3b3b3 !important;
}
tbody .odd2 {
    background:#ccffe6;
}
tbody .even2 {
    background:#ffe5ff;
}
table tr input {
    margin-left: 20px;
}
.search {
    position:absolute;
    right: 0;
    top: 0px;
    display: flex;
}
.search label {
    width:36px;
    font-size:14px;
}
.search input {
    width:180px;
}
.hover {
    background:#ffffcc !important;
}
table input[type=checkbox]:hover {
    cursor:pointer;
}
table tr.noData {
    font-size: 12px;
    text-align:center;
    background:#fff;
    border-bottom: solid 1px #ccc;
}
.table-tips {
    margin-top: 50px;
}
.table-tips button {
    height:30px;
    cursor:pointer;
}

.nc-paginaBars {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    position:absolute;
    right: 0;
    top: 100%;
}
.nc-paginaBars .numTitle {
    font-size:14px;
    margin-right:5px;
    color:#666;
}
ul.nc-pagination {
    display: inline-block;
    padding: 10px;
    margin: 0;
}
ul.nc-pagination li {
    display: inline;
}
ul.nc-pagination li a {
    color: #262626;
    float: left;
    height:24px;
    width:24px;
    text-align:center;
    line-height:24px;
    text-decoration: none;
    border-radius:4px;
    transition: background-color 100ms;
}
ul.nc-pagination li.active a {
    background-color: #1a75ff;
    color: white;
}
ul.nc-pagination li.active a:hover {
    background-color: #005ce6;
}
ul.nc-pagination li:not(.active) a:hover {
    background-color: #ddd;
}